<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product app</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="gallery.css">
</head>

<body>

    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">
            <div class="gallery-container">
                <div class="game-img">
                    <img :src="currentImage" alt="">
                </div>
                <div class="thumbnails">
                    <div v-for="(image, index) in  images" :key="image.id"
                        :class="['thumbnail-image', (activeImage == index) ? 'active' : '']"
                        @mouseover="updateImage(index)">
                        <img :src="image.thumb">
                    </div>
                </div>
            </div>

            <div class="product-info">
                <h1> {{ product }}</h1>
                <p v-show="inStock">Available</p>
                <a v-bind:href="link" target="_blank">Buy now</a>


                <ul>
                    <li v-for="detail in details">
                        {{ detail.param }}: {{ detail.value }}
                    </li>
                </ul>

                <button v-on:click="addToCart"> Add to cart</button>

                <div class="cart">
                    <p> Cart ({{ cart }})</p>
                </div>

            </div>
        </div>
    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>